name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Validate EDA notebooks
        if: always()
        run: |
          pip install nbformat nbconvert
          jupyter nbconvert --to notebook --execute notebooks/*.ipynb --output /tmp/output.ipynb

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run tests
        run: python --version
